<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta description="Online business card for Dorota Roskowska">
    <title>DRoskQA</title>
    <link rel="stylesheet" href="{{'/assets/default.css' | url}}" />
    <base target="_blank">
</head>

<body>
    <main>
        <h1>DRosQA</h1>
        <div class="subtitle">
        <span>testing webapps since 2013</span>
        <span>Last updated: {{page.date | readableDate}}</span>
        </div>
        <hr>
        <section>
            {{content}}
        </section>
    </main>
    
</body>

</html>